<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarter_foodies">
    <!-- xmlns:tools="http://schemas.android.com/tools"> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/smarter_foodies_icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/smarter_foodies_icon_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smarter_Foodies">
<!--        <activity-->
<!--            android:name=".WeeklyPlan"-->
<!--            android:exported="false">-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
<!--        </activity>-->
        <activity
            android:name=".ViewModel.Cart"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ViewModel.likedRecipes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:exported="false"></activity>
        <activity
            android:name=".ViewModel.welcomeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".ViewModel.WeeklyPlan"/>
        <activity android:name=".ViewModel.LoginActivity" />
        <activity android:name=".ViewModel.RegisterActivity" />
        <activity android:name=".ViewModel.ApplyChef" />
        <activity android:name=".ViewModel.SearchRecipe" />
        <activity android:name=".ViewModel.profile_page" />
        <activity android:name=".ViewModel.UpdateProfile" />
        <activity android:name=".ViewModel.RecipePage" />
        <activity android:name=".ViewModel.IngrePage" />
        <activity android:name=".ViewModel.update_profile_photo" />
        <activity android:name=".ViewModel.my_uploads" />
        <activity android:name=".ViewModel.UpdateRecipe"/>
        <activity android:name=".ViewModel.AddRecipe" />

        <activity
            android:name=".ViewModel.LoginGoogle"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ViewModel.MainActivity"
            android:exported="false" />
    </application>

</manifest>